body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
}

.image-section {
    flex: 1;
    display: none; /* Hide on smaller screens */
}

.image-section img {
    width: 100%;
    height: auto;
}

.login-section {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
}

.login-section h1 {
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.login-section button {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #3897f0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-section .facebook-login {
    background-color: #385185;
}

.login-section .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.login-section .divider::before,
.login-section .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #dbdbdb;
}

.login-section .divider::before {
    margin-right: 10px;
}

.login-section .divider::after {
    margin-left: 10px;
}

.login-section a {
    color: #00376b;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

@media (min-width: 768px) {
    .image-section {
        display: block;
    }
}
